uav/__pycache__/serializers.cpython-310.pyc
uav/__pycache__/urls.cpython-310.pyc
uav/__pycache__/views.cpython-310.pyc
rental_uav/__pycache__/urls.cpython-310.pyc
rental_uav/__pycache__/settings.cpython-310.pyc